.page {
    width: auto;
    margin: 0px 0px 12px;
    text-align: center;
    font-family: 'Asar', serif;
}

.page-intro {
    margin: 0px;
    padding: 0px;
    font-size: 1.6em;
}

.page-intro h2 {
    margin: 4px 0px 10px;
}